* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.container {
    width: 100vw;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: grid;
    place-items: center;
}
.displayCard {
    display: flex;
    background-color: #ffffff;
    height: 60vh;
    width: 50vw; 
}
.displayCard {
    border-radius: 10px;
}

/* lado da imagen */
.displayImagen {
    width:50%;
}
.Product {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    height: 100%;
}

/* lado dos textos */
.diplayTxt {
    background-color: #ffffff;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 0.5rem;

}

/* produto */
h1 {
    padding: 0.5rem;
    font-weight:normal;
    letter-spacing: 0.30rem;
    font-size: 0.6rem;
    color:  hsl(228, 12%, 48%);
}

/* nome do perfume */
h2 {
    padding: 0.5rem;
    line-height: 2rem;
    font-size: 40px;
    font-family: "Fraunces", serif;    
}

/* descrição do produto*/
p {
    padding: 0.5rem;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

/* valor do produto */
.price {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
h3 {
    padding: 0.5;
    font-family: "Fraunces", serif;    
    color: hsl(158, 36%, 37%);
    font-size: 30px;
}
span {
    text-decoration: line-through;
    font-size: 0.9rem;
    color: hsl(228, 12%, 48%);
}

/* botão de adicionar no carrinho */
.btn {

    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
}

.btn:hover {
    cursor: pointer;
    background-color: hsl(158, 36%, 25%);
} 
a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    height: 3rem;
    gap: 1rem;
    display: flex;
}


    /* mobile */

@media (width < 40rem) {
    
      /* fundo */

     .displayCard {
        border-radius: 10px;
        height: 75vh;
        width: 80vw;
        flex-direction: column;
    }
        
        /* imagen */

    .displayImagen {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-image: url(./images/image-product-mobile.jpg);
        background-position: top;
        width: 80vw ;
        height: 32vh;
    }.Product {
        opacity: 0;
    }

        /* descrição produto */
    .diplayTxt{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin: 0;
        padding: 1rem;
        height: 100%;
        width: 100%;
    }
    
}